# TSEBRA configuration for SQANTI-evidence
# Weight for each hint source (values >= 0)
P 1.5
lrRNA 1.0
M 1.0

# Required fraction of supported introns or supported start/stop-codons for a transcript
intron_support 0.5
stasto_support 1

# Allowed difference for each feature (values in [0,1])
e_1 0.1
e_2 0.5
e_3 0.05
e_4 0.18
